body{
    margin: 0;
    padding: 0;
    background: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

}
h2{
    font-size: 2rem;
    color: aliceblue;

}
.section{
    text-align: center;
}
button{
    font-size: 5rem ;
    border: none;
    background: rgba(255,255,255,.3);
    border-radius: 10px;
    padding: 15px;
    filter: grayscale();
    transition: filter .2s ease-in-out;
    cursor: pointer;
}
button:hover{
    filter: grayscale(0);
}
p{
    font-weight: 600;
    color: darkblue;
}